body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
  text-align: center;
}

header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px 0;
}

nav ul {
  list-style-type:lower-greek;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a.active, nav ul li a:hover {
  color: #ffd700;
}

section {
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.dark-mode {
  background-color: #222;
  color: white;
}
